footer {

  position: sticky;
  inset-block-start: 100vh;

  font-size: var(--fsize--2);
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;

  padding-inline: 0;

  color: var(--color-fore1);
  background-color: var(--color-back0);

  border-block-start: 1px solid;
  border-block-end: 6px solid;
  border-image-slice: 1;
  border-image-source: var(--color-grad0);

  .logo {
    padding-block: 3em 2em;
  }

  .links {
    box-sizing: border-box;
    inline-size: 100%;
    max-inline-size: none;
    justify-content: center;
    padding: 1.5em;
    margin: 0;
    margin-block-start: 3em;
    border-block-start: 1px solid var(--color-back1);
  }

}
