.logo {

  padding: 0;
  margin: 0;

  a {
    display: block;
    text-decoration: none;
    color: var(--color-fore0);
  }

  svg.tezos {
    inline-size: 22px;
    block-size: 30px;
  }

  svg.spotlight {
    inline-size: 115px;
    block-size: 26px;
    padding-block-start: 2px;
    padding-inline-start: 6px;
  }

}
