.topic {

  ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 0.25em;
    font-size: var(--fsize--4);
  }

  li a, span {
    text-decoration: none;
    padding-inline: 0.8em;
    padding-block: 0.3em;
    color: var(--color-fore0);
    background-color: var(--color-shad1);
    border-radius: var(--radius0);
  }

  a:hover, a:active, a:focus {
    background-color: var(--color-back3);
  }

}

.topic, .taglist {

  .featured, a.featured {
    padding-inline: 1em;
    color: var(--color-fore0);
    background: var(--color-grad135);
  }

}
