<ul class="share">

  <li hidden><a href="#shareapp" title="share via an app"><svg width="30" height="30"><use xlink:href="#icon-share"></use></svg> App</a></li>

  <li><a href="https://x.com/intent/tweet?url=${ encodeURIComponent(data.url) }&amp;text=${ encodeURIComponent( data.title) }&amp;via=tezos" title="share on x.com" target="_blank" rel="noopener"><svg width="30" height="30"><use xlink:href="#icon-x"></use></svg> X.com</a></li>

  <li><a href="https://www.reddit.com/submit/?url=${ encodeURIComponent(data.url) }&amp;text=${ encodeURIComponent( data.title) }" title="share on Reddit" target="_blank" rel="noopener"><svg width="30" height="30"><use xlink:href="#icon-reddit"></use></svg> Reddit</a></li>

  <li><a href="https://t.me/share/url?url=${ encodeURIComponent(data.url) }&amp;text=${ encodeURIComponent( data.title) }" title="share on Telegram" target="_blank" rel="noopener"><svg width="30" height="30"><use xlink:href="#icon-telegram"></use></svg> Telegram</a></li>

  <li><a href="mailto:?subject=${ encodeURIComponent( data.title) }&amp;body=${ encodeURIComponent(data.url) }" title="share via email" rel="noopener"><svg width="30" height="30"><use xlink:href="#icon-email"></use></svg> email</a></li>

</ul>
